<html><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>log in</title>
</head>
	<body>
		<br>

    <!-- Material form register -->
    <form action="/supplies" method="post">
      <p class="h4 text-center py-4">supply edit</p>

      <!-- Material input text -->
        <input type="number" name="sanitizer" id="sanitizer">
        <label for="sanitizer" class="font-weight-light">Sanitizer Units</label>
     
        <input type="number" name="gloves" id="gloves">
        <label for="gloves" class="font-weight-light">Gloves</label>

        <input type="number" name="surgical" id="surgical" class="form-control">
        <label for="surgical" class="font-weight-light">Surgical masks</label>

        <input type="number" name="cloth" id="cloth" class="form-control">
        <label for="cloth" class="font-weight-light">Cloth Masks</label>

        <button type="submit">setstuff</button>
    
    </form>
  <!-- Card body -->

</body>

</html>
